ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #e6f2ff;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #b3d9ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


button {
  background-color: #0073e6;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #005bb5;
}

button + button {
  margin-left: 10px;
}

h2 {
  text-align: center;
  color: #004080;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: #000000;
}
