.medicos-list-container {
    max-width: 1600px;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('/lista.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.medicos-list-container h2 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eae8e8;
  box-shadow: 0 6 20px  rgba(255, 255, 255, 0.2) ;
}

.logo {
  width: 80px;
  margin-right: 10px;
}

.medico-card {
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; 
  text-align: left;
  width: 80%;
  max-width: 850px;
}

.medico-card p {
  margin: 5px 0;
  color: #333;
}

.medico-card p strong {
  color: #05060c;
}

.medico-card button {
  background-color: #436da0;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.medico-card button:hover {
  background-color: #6695b7;
}

.medico-card button:focus {
  outline: none;
}
